*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: rgb(241, 241, 238);
}
/* <------------ NAV BAR SECTION ----------------> */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: gray;
    position: relative;

}
.name{
    font-size: 30px;
    align-items: normal;
    padding-left: -100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
/* <------------MID SECTION 1ST PART----------------> */
.text-box{
    padding-left: 100px;
    margin-top: 30px;
    max-width: 600px;
}
.text-box h1{
    font-size: 55px;
    margin-bottom: 20px;
    /* color: rgb(103, 103, 139); */
}
.text-box h3{
    font-size: 40px;
    margin-bottom: 20px;
    color: #4242EA
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: gray;
    padding: 10px 30px;
    color: rgb(103, 103, 139);
    margin-top: 50px;
    border-radius: 6px;
}
.text-box a span{
    color: white;
}
.text-box p{
    font-size: 30px;
    /* font-size: large; */
    color: gray;
}
/* <------------ IJ IMAGE HERE ----------------> */
.user-box{
    /* background-color: rgb(103, 103, 139); */
    border-radius: 180px;
    position: absolute;
    top: 50px;
    right: 12%;
    z-index: 1px;
}
.user-box img{
    display: block;
    padding-top: 100px;
    width: 550px;
    margin-bottom: -220px;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.7s linear forwards;
}

/* <------------ SECOND SECTION ----------------> */
.second-section{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #4242EA;
}
.about-me{
    padding-left: 100px;
    margin-top: 90px;
    max-width: 600px;
}
.about-me h1{
    font-size: 55px;
    margin-bottom: 20px;
    /* font-size: 55px;
    margin-bottom: 10px;
    color: black; */
}
.about-me h3{
    font-size: 40px;
    margin-bottom: 20px;
    color: #4242EA;
}
.about-me p{
    font-size: 30px;
    margin-bottom: 0px;
    /* font-size: large; */
    color: gray;
}
.about-me a{
    display: inline-block;
    text-decoration: none;
    background-color: gray;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 6px;
}
.about-me a span{
    color: white;
    margin-bottom: 30px;
}
.bot-section{
    padding-left: 100px;
    margin-top: 90px;
    max-width: 600px;
}
.bot-section h1{
    font-size: 55px;
    margin-bottom: 20px;
    /* font-size: 55px;
    margin-bottom: 10px;
    color: black; */
}
.bot-section h3{
    font-size: 40px;
    margin-bottom: 20px;
    color: #EDFF00;
}
.bot-section p{
    font-size: 30px;
    margin-bottom: 0px;
    /* font-size: large; */
    color: gray;
}
.bot-section a{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 6px;
}
.bot-section a span{
    color: gray;
    margin-bottom: 30px;
}



/* <------------ THIRD SECTION ----------------> */
/* .third-section{
    width: 100%;
    height: auto;
    padding: 0;
    background-color: rgb(241, 241, 238)
}
.contact-me{
    height: 100vh;
    padding-left: 100px;
    margin-top: 30px;
    max-width: 600px;
}
.contact-me h1{
    font-size: 55px;
    margin-bottom: 10px;
    color: black;
}
.contact-me h3{
    font-size: 30px;
    padding: 20px 0px;
    margin-bottom: 0px;
    color: #EDFF00;
} */
/* <------------CONTACT SECTION ----------------> */
.questions{
    padding-left: 100px;
    margin-top: 90px;
    max-width: 600px;
}
.questions h1{
    font-size: 55px;
    margin-bottom: 20px;
    /* color: rgb(103, 103, 139); */
}
.questions h3{
    font-size: 40px;
    margin-bottom: 20px;
    color: #4242EA
}
.questions p{
    font-size: 30px;
    margin-bottom: 40px;
    /* font-size: large; */
    color: gray;
}
.contact-form{
    position: absolute;
    border-radius: 20px;
    top: 170px;
    right: 12%;
    z-index: 1px;
}
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: white;
    border-radius: 30px;
    width: 600px;
    /* max-width: 700px; */
    padding: 2vw 4vw;
}
form h3{
    font-weight: 800px;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: rgb(243, 235, 235);
    font-size: 20px;
}
form button{
    padding: 15px;
    background: gray;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.thank-you{
    font-size: 55px;
    background-color: #EDFF00;
    position: absolute;
    border-radius: 20px;
    top: 300px;
    right: 25%;
    z-index: 1px;
    font-weight: 800px;
    margin-bottom: 20px;
}
.error-mess{
    font-size: 55px;
    color: white;
    background-color: red;
    position: absolute;
    border-radius: 20px;
    top: 600px;
    right: 17%;
    z-index: 1px;
    font-weight: 800px;
    margin-bottom: 20px;
}

/* <------------ PROJECTS PAGE ----------------> */
.projects{
    padding-left: 100px;
    margin-top: 90px;
    max-width: 600px;
    /* height: 100vh; */
}
.projects h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.projects h3{
    font-size: 40px;
    margin-bottom: 20px;
    color: #4242EA
}
.projects p{
    font-size: 30px;
    margin-bottom: 0px;
    /* font-size: large; */
    color: gray;
}

.projects-img-section{
    /* background-color: rgb(103, 103, 139);
    border-radius: 180px;
    position: absolute;
    top: 50px;
    right: 12%;
    z-index: 1px; */
    border: 0px;
}
.projects-img-section img{
    position: absolute;
    top: 120px;
    right: 12%;
    z-index: 1px;
    display: block;
    width: 550px;
    margin-bottom: -220px;
    border: 0px;
    border-radius: 720px;
}

/* projects DISPLAY section */
.projects-linked{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    background-color: #4242EA;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.project-display{
    padding-left: 300px;
    margin-top: 90px;
    max-width: 900px;
}
.weather-app h1{
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #EDFF00;
}

.weather-app p{
    font-size: 30px;
    padding-top: 10px;
    color: white;
}
.weather-app a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: white;
    padding: 10px 30px;
    color: rgb(103, 103, 139);
    margin-top: 20px;
    border-radius: 6px;
}
.weather-app a span{
    color: black;
}
.weather-app img{
    max-width: 350px;
    margin-bottom: 0px;
}

/* -------------------------------------------- */
.project-display2{
    position: absolute;
    top: 0px;
    right: 12%;
}
.soccer-app img{
    margin-top: 60px;
    width: 400px;
    height: 270px;
    border: 1px;
    border-radius:20px;
}
.soccer-app{
        display: flex;
        flex-direction: column;
        width: 600px;
        padding: 2vw 4vw;
}
.soccer-app h1{
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #EDFF00;
}

.soccer-app p{
    font-size: 30px;
    padding-top: 10px;
    color: white;
}
.soccer-app a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: white;
    padding: 10px 30px;
    color: rgb(103, 103, 139);
    margin-top: 20px;
    border-radius: 6px;
}
.soccer-app a span{
    color: black;
}
.soccer-app img{
    max-width: 350px;
    margin-bottom: 0px;
}

.hidden{
    display: none;
    pointer-events: none;
}


/*media query*/
@media screen and (max-width: 1300px){
    .user-box img{
        display: none;
    }
    .projects-img-section{
        display: none;
    }
}
@media screen and (max-width: 1360px){
    form{
        transform: translateY(+330px);
    }
}
@media screen and (max-width: 751px){
    form{
        transform: translateY(+400px);
        transform: scale(.7) translate(+50%, +100%)
        /* transform: translate(); */
    }
}
@media screen and (max-width: 375px){
    form{
        display: none;
    }
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



/* colors used{
    .header color: rgb(241, 241, 238)
    background-color: rgb(241, 241, 238);
    nav background-color: gray;
    nav ul li color: white;
    text box h3 color: #4242EA
    text box a color: rgb(103, 103, 139)
    text box p color: gray;
    about-me h3 color: (yell)#EDFF00

} */